.content {
  padding: 16px;
}

.content > * {
  margin-bottom: 16px;
}

.menu-button {
  color: white;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  cursor: pointer;
}

.logo {
  width: 3rem;
  margin-right: 10px;
}

button {
  background-color: #0ab2b2;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
}
