.table {
  border-spacing: 0px;
}

.table thead {
  background-color: #e5e5e5;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}

.table td {
  border: 1px solid #e5e5e5;
  border-top: none;
}
