.code-block {
  background-color: #2b2b2b;
  color: white;
  width: fit-content;
  position: relative;
  border-radius: 5px;
  padding: 10px;
}

.clipboard,
.clipboard-check {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
}

.clipboard {
  cursor: pointer;
}
